@font-face {
  font-family: 'grammatika';
  src: url('../fonts/fonts/ASGrammatika.eot');
  src: url('../fonts/fonts/ASGrammatika.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/ASGrammatika.woff2') format('woff2'),
  url('../fonts/fonts/ASGrammatikawoff') format('woff'),
  url('../fonts/fonts/ASGrammatika.ttf') format('truetype'),
  url('../fonts/fonts/ASGrammatika.svg#ASGrammatikaGeoMtavruli1') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'excelsior';
  src: url('../fonts/fonts/excelsior.eot');
  src: url('../fonts/fonts/excelsior.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/excelsior.woff2') format('woff2'),
  url('../fonts/fonts/excelsior.woff') format('woff'),
  url('../fonts/fonts/excelsior.ttf') format('truetype'),
  url('../fonts/fonts/excelsior.svg#BPGExcelsior') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-med';
  src: url('../fonts/fonts/Montserrat-Medium.eot');
  src: url('../fonts/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/fonts/Montserrat-Medium.woff') format('woff'),
  url('../fonts/fonts/Montserrat-Medium.ttf') format('truetype'),
  url('../fonts/fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-semi';
  src: url('../fonts/fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/fonts/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/fonts/Montserrat-SemiBold.ttf') format('truetype'),
  url('../fonts/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/fonts/NotoSans-Regular.eot');
  src: url('../fonts/fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/NotoSans-Regular.woff2') format('woff2'),
  url('../fonts/fonts/NotoSans-Regular.woff') format('woff'),
  url('../fonts/fonts/NotoSans-Regular.ttf') format('truetype'),
  url('../fonts/fonts/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


$primary-font: 'excelsior';
$caps-font: 'grammatika';
$bold-font: 'grammatika';
$semi-font: 'grammatika';
$caps-bold : 'grammatika';

